.example-container {
    width: 100%;
    height: 92%;
    margin: 12px;
    border: 1px solid #555;
}

mat-drawer-content {
    padding: 12px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-start;
}

.example-full-width {
    width: 32%;
    padding-right: 15px;
}

.textArea-full-width {
    overflow-y: auto;
}

.btncompany {
    background-color: blue;
    color: white;
    padding-right: 10px;
}