<mat-toolbar color="primary">
  <span>Company</span>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <!-- <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"> -->
  <a mat-tab-link routerLink="/companyDetails" routerLinkActive="active-link">Details</a>
  <a mat-tab-link routerLink="/companyContact" routerLinkActive="active-link">Contact</a>
  <a mat-tab-link routerLink="/companyAbout" routerLinkActive="active-link">About</a>


</nav>
<!-- <mat-tab-group animationDuration="0ms">
  <mat-tab label="Details">Content 1</mat-tab>
  <mat-tab label="Contact">Content 2</mat-tab>
  <mat-tab label="About">Content 3</mat-tab>
</mat-tab-group> -->

<!-- 
<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8">
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main content here!
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet></router-outlet>